@inherits LayoutComponentBase

<div class="@ThemeClass">
    <NavMenu IsLight="@IsLight" OnToggleTheme="ToggleTheme" />
    <main>
        @Body
    </main>
    <footer class="rodape">
        <p>© 2025 ACADE - Todos os direitos reservados</p>
        <p><a href="mailto:contato@acade.com">contato@acade.com</a></p>
    </footer>
</div>

@code {
    private bool IsLight = true;
    public string ThemeClass => IsLight ? "" : "light";

    public void ToggleTheme()
    {
        IsLight = !IsLight;
        StateHasChanged();
    }
}
