@page "/usuarios"
@using AcadeAppWeb.Models
@inject HttpClient Http

<button @onclick="LoadUsuarios">Consultar Usuários</button>

@if (usuarios == null)
{
    <p><em>Nenhum usuário carregado.</em></p>
}
else
{
    <ul>
        @foreach (var u in usuarios)
        {
            <li>@u.Username (@u.Email)</li>
        }
    </ul>
}

@code {
    private List<Usuario>? usuarios;

    private async Task LoadUsuarios()
    {
        usuarios = await Http.GetFromJsonAsync<List<Usuario>>("http://localhost:5206/api/usuarios");
    }
}
